<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEx</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        .container {
            min-height: 200vh;
            overflow-y: auto; 
            overflow-x: hidden; 
        }
    </style>
</head>
<body>
    <header>
        <h1>TEXchange</h1>
    </header>

    <main class="container">
        <div id="postContainer"></div>
         
        <form id="postForm">
            <textarea id="postContent" name="postContent" required></textarea>
            <button type="submit">post</button>
            <div id="wordCountDisplay"></div>
        </form>
    </main>

    <script type="module" src="script.js"></script>

</body>
</html>
